@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700;800;900&family=Barlow:wght@400;500;600;700;800;900&display=swap');

:root {
  --text-color:#83888f;
  --title-color:#333d4b;
  --white-color: #fefcf7;
  --link-bg: #66D2CF;
  --primary-color: #0E8784;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
}
.container-fluid {
  width: 100%;
  max-width: 1280px;
}
.style-none {
  list-style-type: none;
}
.header {
  padding: 44px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
}
.header__logo {
  width: 236px;
  height: 26px;
}
.header__logo--white {
  width: 180px;
  height: 26px;
}
.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 32px;
}
.nav__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease;
  color: var(--text-color);
}
.nav__item:hover .nav__link{
  color: var(--primary-color);
  transition: all 0.4s ease;
}
.header__btn {
  background-color: transparent;
  border: none;
  color: #333D4B;
  display: none;
  font-size: 25px;
}
.header__img-hidden {
  position: absolute;
  top: 45px;
  left: 20px;
  display: none;
}


/* hero */
.hero {
  width: 100vw;
  height: 100vh;
}
.hero__inner {
  width: 100%;
  height: 100vh;
  background-image: url('../images/cofee-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__block {
  padding: 60px 86px 40px 86px;
}

.hero__inner > div{
  width: 100%;
}
.hero__title {
  font-weight: 900;
  font-family: 'Fraunces', sans-serif;
  font-size: 72px;
  line-height: 72px;
  color: var(--white-color);
  width: 493px;
  margin-bottom: 32px;
}
.hero__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--white-color);
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 445px;
  margin-bottom: 56px;
}
.hero__link {
  padding: 15px 31px;
}
.link {
  background: var(--primary-color);
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 900;
  font-size: 18px;
  font-family: 'Fraunces', sans-serif;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease;
  color: var(--white-color);
}
.hero__link:hover {
  background-color: var(--link-bg);
  color: var(--white-color);
}



/* our */
.our {
position: relative;
}
.our__inner {
  padding: 150px 0 150px 0;
  background-image: url('../images/cofee-text.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.our__list {
  display: flex;
  justify-content: space-between;
}
.our__item {
  width: 256px;
}
.our__item-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--title-color);
  text-align: center;
  margin: 0 auto 24px auto;
}
.our__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  width: 255px;
}
.our__img {
  width: 256px;
  height: 193px;
  margin: 0 auto 72px auto;
}




/* choose */
.choose {
  margin: 50px 0 100px 0;
}
.choose__inner {
  padding: 100px 85px;
  background-image: url('../images/choose-bg.svg');
  background-size: 100% 577px;
  background-repeat: no-repeat;
}
.choose__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: var(--white-color);
  margin: 0 auto 32px auto;
}
.choose__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--white-color);
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0 auto 80px auto;
  width: 540px;
}
.choose__list {
  display: flex;
  justify-content: center;
}

.choose__item {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 72px 47px 47px 47px;
}
.choose__item:not(:last-child) {
  margin-right: 30px;
}
.choose__img-box {
  display: flex;
  justify-content: center;
}
.choose__img {
  width: 71px;
  height: 72px;
  margin: 0 auto 56px auto;
}
.choose__item-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--white-color);
  text-align: center;
  margin: 0 auto 24px auto;
}
.choose__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--white-color);
  margin: 0 auto;
}



/* work */
.work {
  padding: 0 0 50px 0;
}
.work__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.work__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}
.work__item-num {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
  margin-bottom: 38px;
}
.work__item-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--title-color);
  margin-bottom: 43px;
}
.work__item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  width: 285px;
}
.work__link-box {
  display: flex;
  justify-content: center;
}
.work__link {
  font-weight: 900;
  font-size: 18px;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  line-height: 25px;
  text-align: center;
  padding: 15px 31px;
  color: var(--white-color);
  transition: all 0.4s ease;
}
.work__link:hover {
  background-color: var(--link-bg);
}

/* footer */
.footer {
  padding: 49px 0;
  background-color: var(--title-color);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
}
.footer__social-list {
  display: flex;
}
.footer__item:not(:last-child) {
  margin-right: 32px;
}
.footer__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
}
.footer__link:hover {
  color: var(--white-color);
  transition: all 0.4s ease;
}
.footer__link--active {
  color: var(--white-color);
}
.footer__social-link {
  color: var(--white-color);
  font-size: 24px;
}
.footer__social-item:not(:last-child) {
  margin-right: 24px;
}
.footer__social-item:hover .footer__social-link {
  color: #fdd6ba;
  transition: all 0.4s ease;
}














/* responsive */

@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
  .header {
    width: 100%;
  }



  /* hero */

.hero__inner {
  background-image: url('../images/hero-2.jpg');
  width: 100%;
}
.hero__block {
  padding: 100px 58px;
}
.hero__title {
  font-size: 48px;
  line-height: 48px;
  width: 329px;
  margin-bottom: 24px;
}
.hero__text {
  font-size: 15px;
  line-height: 25px;
  width: 398px;
  margin-bottom: 40px;
}







/* our */

  .our__inner {
    padding: 150px 0 100px 0;
    background-image: url('../images/cofee-2.svg');
    background-size: 100% 196px;
    background-repeat: no-repeat;
  }
  .our__list {
      flex-direction: column;
      margin: 0 auto;
  }
  .our__item {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 48px;
  }
  .our__img-box {
    margin-right: 36px;
  }
  .our__item-title {
    text-align: left;
    margin-bottom: 24px;
  }
  .our__item-text {
    text-align: left;
    margin: 0;
    width: 282px;
  }

  .our__img {
    width: 256px;
    height: 193px;
    margin: 0;
  }
  


  /* choose */
.choose {
  margin: 100px 0;
}
.choose__inner {
  padding: 56px;
  background-image: url('../images/choose2.svg');
  background-size: contain;
}
.choose__title {
  font-size: 32px;
  margin: 0 auto 24px auto;
}
.choose__text {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  margin: 0 auto 70px auto;
}
.choose__list {
  flex-direction: column;
}
.choose__item {
  padding: 47px 47px 47px 71px;
  margin-bottom: 24px;
  display: flex;
}
.choose__item:not(:last-child) {
  margin-right: 0;
}
.choose__img-box {
  display: flex;
  justify-content: center;
  margin-right: 56px;
}
.choose__img {
  width: 55px;
  height: 56px;
  margin: 0 auto 0 auto;
}
.choose__item-title {
  text-align: left;
  margin: 0 0 16px 0;
}
.choose__item-text {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  width: 344px;
  margin: 0;
}






/* work */
.work {
  padding: 100px 0;
}
.work__list {
  margin-bottom: 44px;
}
.work__item-num {
  margin-bottom: 42px;
}
.work__item-title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 38px;
}
.work__item-text {
  font-size: 15px;
  line-height: 25px;
  width: 223px;
}
.work__link-box {
  justify-content: left;
}





/* footer */
.footer {
  padding: 54px 0;
}

.footer__inner {
  flex-direction: column;
  justify-content:center;
  text-align: center;
  margin: 0 auto;
}
.footer__logo-box {
  margin-bottom: 34px;
}
.footer__nav {
  justify-content:center;
  text-align: center;
  margin: 0 auto 65px;
}
.footer__social-box {
  justify-content:center;
  text-align: center;
  margin: 0 auto;
}

}







/* responsive */

@media screen and (max-width: 768px) {

  .header {
    width: 100%;
  }
  .header__btn {
    display: block;
    font-size: 30px;
    color: #333D4B;
    z-index: 1000;
  }

  .header__menu {
    position: fixed;
    top: -2000px;
    left:0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    display: flex;
    text-align: center;
    flex-direction: column;
    transition: all 0.4s ease;
    z-index: 98;
  }
  .show{
    top: 0;
  }

  .header__content {
    position: relative;
  }
  .header__nav {
    padding-top: 160px;
    flex-grow: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .header__menu {
    flex-direction:column;
    flex-grow: 1;
    align-items: none;
  }
  .nav__list {
    padding-top: 20px;
    flex-direction: column;
  }
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__link {
    font-weight: 900;
    font-family: 'Fraunces', sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--title-color);
  }
  .nav__item:not(:last-child) {
    margin-right: 0px;
  }
  .header__img-hidden {
    display: block;
  }



  /* hero */
.hero__inner {
  background-image: url('../images/hero-3.jpg');
}
.hero__block {
  padding: 100px 24px 100px 24px;
}
.hero__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  width: 80%;
  text-align: center;
  margin: 0 auto 24px;
}
.hero__text {
  font-size: 15px;
  line-height: 25px;
  width: 80%;
  margin-bottom: 39px;
  text-align: center;
  margin: 0 auto 39px ;
}
.hero__link-box {
  display: flex;
  justify-content: center;
}








/* our */

  .our__inner {
    padding: 80px 0 80px 0;
    background-image: url('../images/cofee-3.svg');
    background-size: 100% 118px;
    background-repeat: no-repeat;
  }
  .our__item {
    justify-content: center;
    margin: 0 auto 48px auto;
    flex-direction: column;
  }
  .our__img-box {
    margin-right: 0;
  }
  .our__item-title {
    width: 255px;
    margin-bottom: 16px;
    text-align: center;
  }
  .our__item-text {
    font-size: 15px;
    line-height: 25px;
    width: 282px;
    text-align: center;
  }
  .our__img {
    width: 200px;
    height: 151px;
    margin-bottom:  24px ;
    text-align: center;
  }





    /* choose */
.choose__inner {
  padding: 64px 24px;
  background-image: url('../images/choose3.svg');
  background-size: contain;
}
.choose__title {
  font-size: 28px;
  line-height: 28px;
}
.choose__list {
  justify-content: center;
  text-align: center;
}
.choose__text {
  width: 100%;
  margin: 0 auto 64px auto;
}
.choose__item {
  width: 100%;
  margin: 0;
  padding: 72px 12px 48px 12px;
  flex-direction: column;
  margin-bottom: 24px;
}

.choose__img-box {
  display: flex;
  justify-content: center;
  margin: 0 auto 67px auto;
}
.choose__img {
  width: 72px;
  height: 50px;
}
.choose__item-title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0 auto 24px auto;
}
.choose__item-text {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}







/* work */
.work {
  padding: 100px 0;
  text-align: center;
  justify-content: center;
}
.work__list {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 44px;
}
.work__item {
  width: 100%;
  text-align: center;
  margin: 0 auto 56px auto;
  justify-content: center;
}
.work__title {
  margin-bottom: 80px;
}
.work__item-num {
  margin-bottom: 24px;
}
.work__item-title {
  margin-bottom: 24px;
}
.work__item-text {
  width: 100%;
}
.work__link-box {
  justify-content: center;
}




/* footer */


.footer__list {
  flex-direction: column;
}
.footer__logo-box {
margin-bottom: 49px;
}
.footer__nav {
  margin-bottom: 49px;
}

.footer__item:not(:last-child) {
  margin-right: 0;
}
.footer__item {
  margin-bottom: 24px;
}

}